/* utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', serif;
}

/* wrapper */
.container-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

/****** Navbar ******/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px 0 60px;
  margin-bottom: 40px;
}

/* navmenu*/
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 75px;
}

.nav-items .nav-item {
  margin: 0 40px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.nav-items .active-item {
  color: #fe5e35;
  font-weight: 900;
}

.nav-items .nav-item:hover {
  color: #fe5e35;
  font-weight: 900;
}
/* logo */
nav > img {
  width: 120px;
}

/* hamburger */
.hamburger {
  display: none;
}

.hamburger .menu-icon {
  font-size: 20px;
}

/* cart */
.nav-items + img {
  width: 300px;
}

/******* content Showcase *******/
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 60px;
}

/*** left side content ***/
.left-section {
  margin-top: 70px;
}

/* new product  text and img*/
.left-section h3 {
  font-size: 35px;
  font-weight: 400;
}

.left-section h3 img {
  width: 50px;
}

/* left side heading  */
.left-section h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 30px;
}

/* bullet points group */
.sub-headlines {
  margin-left: 80px;
  margin-bottom: 30px;
}

/* single point */
.sub-headline {
  margin-bottom: 20px;
}

.sub-headlines h5 {
  font-size: 20px;
  font-weight: 500;
  vertical-align: top;
}
.sub-headline img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 3px;
  vertical-align: bottom;
  background-color: #fe5e35;
}

/* para p  */
.text {
  font-size: 12px;
  color: #888;
  margin-bottom: 40px;
  width: 75%;
}

/* button common */
.action-btn {
  font-family: 'Poppins', serif;
  border: none;
  background-color: #fe5e35;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 12px 30px;
}

.action-btn + .action-btn {
  margin-left: 25px;
}

/*** right side content ***/
.right-section {
  width: 50%;
  position: relative;
  text-align: center;
}

/* discount bg img */
.discount {
  width: 130px;
  position: absolute;
  top: 213px;
  left: -50px;
  z-index: 2;
}

/* discount content */
.discount-content {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  position: absolute;
  top: 248px;
  left: -20px;
  z-index: 2;
  color: #fff;
}

.discount-content h4 {
  font-size: 12px;
  font-weight: 400;
}

.discount-content h1 {
  font-size: 40px;
  font-weight: 400;
}

/* headphone img */
.discount-content + img {
  width: 90%;
  position: absolute;
  top: -30px;
  left: 0px;
}

/* 3 dots */
.dots {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  top: 416px;
  left: -5px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 35px;
}

.yellow-dot {
  background-color: yellow;
}

.tomato-dot {
  background-color: tomato;
}
.black-dot {
  background-color: #000;
}

/* below headphone button */
.dots + .action-btn {
  position: absolute;
  top: 474px;
  left: 135px;
  z-index: 2;
}

/** Media query for smaller device  */
@media only screen and (max-width: 1300px) {
  /*! Navbar  */
  nav {
    padding: 20px 2%;
    margin-bottom: 20px;
  }

  /* logo */
  nav > img {
    width: 90px;
  }
  /* navmenu */
  .nav-items {
    display: none;
  }

  /* cart icon */
  .nav-items + img {
    display: none;
  }

  /* hamburger */
  .hamburger {
    display: block;
  }

  /*! Content case  */
  .intro-section {
    flex-direction: column;
    padding: 0 2%;
  }

  /**! Left section content  */
  .left-section {
    margin: 30px 0 20px;
    width: 100%;
    order: 2;
  }

  /* new product text and img*/
  .left-section h3 {
    font-size: 25px;
  }

  .left-section h3 img {
    width: 35px;
  }

  /* left side heading */
  .left-section h1 {
    font-size: 45px;
  }

  /* bullet points group */
  .sub-headlines {
    margin-left: 0;
  }

  /* single point */
  .sub-headlines h5 {
    font-size: 16px;
  }

  .sub-headline img {
    width: 25px;
  }

  /* para p  */
  .text {
    font-size: 14px;
    width: 100%;
  }

  /* button common */

  .action-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action-btn {
    font-size: 12px;
    border-radius: 30px;
    padding: 12px 28px;
  }

  .action-btn + .action-btn {
    margin-left: 30px;
  }

  /**! Right side content */

  .right-section {
    position: static;
    width: 100%;
    text-align: center;
  }

  /* discount bg img */
  .discount {
    display: none;
  }

  /* discount content */
  .discount-content {
    display: none;
  }

  /* headphone img */
  .discount-content + img {
    width: 90%;
    position: static;
  }

  /* 3 dots */
  .dots {
    position: static;
    justify-content: center;
    margin-bottom: 40px;
  }

  .dot {
    width: 18px;
    height: 18px;
    margin: 0 20px;
  }

  /* below headphone button */
  .dots + .action-btn {
    position: static;
  }
}

/** Media query for medium device  */
@media only screen and (min-width: 768px) and (max-width: 1300px) {
  /* logo */
  nav > img {
    width: 120px;
  }

  /* hamburger */
  .hamburger .menu-icon {
    font-size: 30px;
  }

  /* new product text and img*/
  .left-section h3 {
    font-size: 30px;
  }

  .left-section h3 img {
    width: 45px;
  }

  /* left side heading */
  .left-section h1 {
    font-size: 60px;
  }

  /* bullet points group */
  .sub-headlines {
    margin-left: 20px;
  }

  /* single point */
  .sub-headlines h5 {
    font-size: 18px;
  }

  /* para p  */
  .text {
    font-size: 16px;
  }

  /* button common */

  .action-btn {
    font-size: 16px;
  }

  /* headphone img */
  .discount-content + img {
    width: 70%;
  }

  /* 3 dots */
  .dot {
    width: 20px;
    height: 20px;
  }
}
